<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction Confirmation</title>
</head>
<body>

    <h3>Your transfer of <span data-th-text="${t.transferAmt}"></span> from
        <span data-th-text="${fromName}"></span> ( <span data-th-text="${t.fromAcct}"></span> ) to 
        <span data-th-text="${toName}"></span> ( <span data-th-text="${t.toAcct}"></span> ) is successful.
    </h3>

    <h3>Transaction id is <span data-th-text="${t.transactionId}"></span>.</h3>
    
</body>
</html>